
.contentr {

}
.contentr a{
   padding: 0 14px 41px;
margin: 0 26px 0px 0;
font-size: 16px;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #ffffff; 

}
.contentr a:hover{
 border-bottom: 2px solid  #FFFFFF;
 transition: 0.5s;
}
.block1 {
   height: 900px;

}
.block1 p{
 
   
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: center;
   color: #fff;
}
.block1 h2{
   font-size: 48px;
   line-height: 64px;
   letter-spacing: 0em;
   text-align: center;
   color: #fff;
   width: 700px;
   margin: 20px 0 30px ;
}
.blu {
border-radius:30px;
background: #4985FF;
width: 200px;
height: 45px;
display: inline-block;

font-size: 16px;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #ffffff;
}

.block1__img {

   background: url('../img/Rectangle.png') no-repeat;
   height: 900px;
}
.block1__info {
  

   min-height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

